## Problem Statement/Goal
 - The marketing ops team sent over this spreadsheet containing four years of data from a CRM system (please make a copy of the spreadsheet in order to manipulate the data): https://docs.google.com/spreadsheets/d/16hLtx8bBDe2GS1MOa3v9hY6Yhm4C30koLoCpiIJ5WDg/edit?usp=sharing. 

The team wants to find the month they're likely to contact the most clients, so they can schedule a product upgrade announcement. Which month does the team tend to contact the greatest percentage of its clients?

(In addition to providing an answer, please either include a public link to a spreadsheet showing your work, or describe your process for answering the question.)

## Imports

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

from sklearn.model_selection import train_test_split

## Data Collection

In [3]:
df = pd.read_csv('./data/HireArt_Data.csv')

## Initial Viewing of Data

## Cleaning

## Exploritory Data Analysis

## Modeling

#### Imports & Initiations

#### Historical Lists of Features & Their Results

# Laboritory!
 - The place for all the code that I'm currently working on.  
 - This is to keep the rest of the notebook clean.

In [11]:
df.head()

  Account manager                 Client Name Date of Contact
0     Milan Crona     Wyman, Farrell and Haag      2015-10-31
1    Aidan Pouros  Veum, McClure and Schuster      2013-12-15
2    Aidan Pouros  Veum, McClure and Schuster      2013-12-07
3     Milan Crona             Armstrong Group      2013-11-02
4    Aidan Pouros   Lueilwitz, Moore and Hahn      2013-12-25

In [4]:
def map_function(row):
    return row[0:4]
df['year'] = df['Date of Contact'].map(lambda x: map_function(x))

In [5]:
def map_function(row):
    return row[8:]
df['day'] = df['Date of Contact'].map(lambda x: map_function(x))

In [6]:
def map_function(row):
    return row[5:7]
df['month'] = df['Date of Contact'].map(lambda x: map_function(x))

In [21]:
df['Date of Contact'][0][8:]

'31'

In [20]:
df['Date of Contact'][0][5:7]

'10'

In [7]:
df['month'].value_counts()

10    213
09    121
08     79
06     77
12     77
05     69
07     66
11     65
02     64
01     60
03     58
04     52
Name: month, dtype: int64

In [8]:
df['day'].value_counts()

19    44
23    40
13    40
18    40
25    40
14    39
11    38
20    37
04    37
05    37
26    36
27    35
08    35
12    34
06    34
17    33
24    32
21    31
16    30
03    30
10    30
28    29
29    27
30    27
07    26
01    26
02    25
22    24
09    24
15    21
31    20
Name: day, dtype: int64

In [9]:
df['year'].value_counts()

2014    264
2015    251
2016    240
2017    147
2013     99
Name: year, dtype: int64

In [ ]:
plt.hist(df['day'])

In [7]:
#df['Date of Contact'].
pd.to_datetime(df['Date of Contact'])

0      2015-10-31
1      2013-12-15
2      2013-12-07
3      2013-11-02
4      2013-12-25
5      2016-03-21
6      2013-10-27
7      2016-05-14
8      2014-07-14
9      2015-10-14
10     2014-01-17
11     2016-11-14
12     2015-10-17
13     2013-10-22
14     2014-09-23
15     2013-10-28
16     2015-10-06
17     2013-11-20
18     2015-02-04
19     2016-12-13
20     2015-10-30
21     2017-09-21
22     2013-10-16
23     2017-05-04
24     2013-10-24
25     2015-09-12
26     2014-07-04
27     2017-04-14
28     2015-10-25
29     2014-12-05
          ...
971    2014-11-26
972    2016-10-11
973    2015-05-25
974    2014-08-23
975    2015-08-10
976    2016-11-01
977    2013-10-12
978    2014-11-14
979    2015-03-20
980    2017-04-24
981    2016-06-05
982    2015-07-06
983    2014-11-04
984    2016-04-05
985    2016-06-14
986    2016-09-02
987    2015-09-18
988    2014-05-13
989    2014-11-27
990    2016-04-08
991    2014-06-19
992    2015-04-03
993    2014-02-13
994    2015-08-13
995    2013-12-23
996    2014-04-13
997    2016-09-16
998    2015-03-21
999    2017-09-27
1000   2017-06-16
Name: Date of Contact, Length: 1001, dtype: datetime64[ns]

## Code Recycling Bin
- For when I'm not sure I'm ready to delete some old code yet.